.footer {
    width: 100%;
    display: flex;
    color: var(--light-text);  /* Cambiado a texto claro con toque azulado */
    justify-content: space-between;
    background-color: var(--primary-blue);  /* Cambiado a azul corporativo */
    align-items: center;
    padding: 0 48px 0 48px;
    box-sizing: border-box;
    margin-top: 20px;
}

.social_media {
    display: flex;
    gap: 16px;
}

.social_media svg {
    width: 32px;
    height: 32px;
    color: var(--light-text);  /* Cambiado a texto claro con toque azulado */
}

.social_media svg:hover {  /* Añadido efecto hover */
    color: var(--neon-blue);
    cursor: pointer;
}

.footer_title {
    font-size: x-large;
    font-weight: bold;
}

.author p {
    margin: 0;
}

.author a {
    text-decoration: none;
    color: var(--light-text);  /* Cambiado a texto claro con toque azulado */
}

.author a:hover {  /* Añadido efecto hover */
    color: var(--accent-blue);
}

@media (width < 630px) {
    .footer {
        margin-bottom: 78px;
        padding: 0 16px 0 16px;
    }
}